.w {
  width: 1200px;
  margin: auto;
}
body {
  background-color: whitesmoke;
  height: 2000px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  height: 100px;
  margin: 30px auto;
}
.logo {
  float: left;
  width: 200px;
  height: 50px;
}
.nav {
  float: left;
  margin-left: 60px;
}
.nav ul li{
  float: left;
  margin: 0 15px;
}
.nav ul li a{
  display: block;
  height: 42px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 20px;
  color:black;
}
.nav ul li a:hover {
  border-bottom: 3px solid rgba(252, 194, 4, 0.952);
  color:rgba(252, 194, 4, 0.952);
}
.search {
  float: left;
  width: 100px;
  height: 35px;
  margin-left: 10px;
}
.search input{
  float: left;
  width: 100px;
  height: 40px;
  border: 2px solid rgb(21, 21, 26);
  border-right: 1;
  font-size: 15px;
  padding-left: 10px;
}
.search button{
  float: left;
  margin-right: 25px;
}
.banner {
  height: 500px;
  background-color: rgb(235, 229, 226);
}
.banner .w {
  height: 500px;
  background: url(home.jpg) no-repeat top center;
}
.subnav {
  float: left;
  width: 200px;
  height: 500px;
  background: rgba(0, 0, 0, 0.4);
}
.subnav ul li {
  height: 80px;
  line-height: 100px;
  padding: 0 20px;
}
.subnav ul li a {
  font-size: 20px;
  color: blanchedalmond;
}
.subnav ul li a span {
  float: right;
}
.subnav ul li a:hover {
  color: rgba(252, 194, 4, 0.952);
}
.course {
  float: right;
  width: 300px;
  height: 350px;
  background-color: rgba(248, 141, 1, 0.733);
  margin-top: 50px;
}
.course h2 {
  height: 60px;
  background-color: rgb(161, 91, 73);
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: oldlace;
}
.body {
  padding: 0 20px;
}
.box {
  height: 70px;
  background-color:rgb(247, 221, 188);
  box-shadow: 0 7px 4px 4px rgba(172, 166, 147, 0.952);
  margin-top: 10px;
  line-height: 20px;
}
.box h4 {
  float: left;
  margin-left: 30px;
  font-size: 20px;
  color: white;
}
.box ul{
  float: left;
}
.box ul li {
  float: left;
}
.box ul li a {
  padding: 0 30px;
  font-size: 20px;
  color: rgb(2, 0, 0);
}
.box {
  float: right;
  margin-right: 30px;
  font-size: 30px;
  color: white;
}
.big {
  margin-top: 30px;
}
.big-hd ul{
  width: 1000px;
}
.big-hd h3{
  float: left;
  font-size: 20px;
  color: white;
}
.big-hd a{
  float: right;
  font-size: 20px;
  color: rgb(250, 249, 250);
  margin-top: 30px;
  margin-right: 30px;
}
.big-hd ul li {
  float: left;
  width: 250px;
  height: 300px;
  margin-top: 150px;
  background-color: rgb(253, 214, 130);
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.big-hd ul li img{
  width:100% ;
}
.big-hd ul li h4{
  margin: 0 20px 20px 20px;
}
.Co{
  height: 1000px;
  background-color: rgb(126, 78, 33)

}
.footer {
  height:1500px;
  background-color: rgb(250, 233, 201);
  padding-top: 50px;
}
